$header-color: #415a59; //#32bc86;
$background-color: #f6f2eb;
$border-color: #d6d2cb;
$button-height: 36px;
$button-color: #109fbf;
$cancel-button-color: #d0896d;
$button-text-color: white;
$body-font-size: 18px;

#header {
  height: $button-height;
}
