<%= javascript_include_tag "place-index" %>
<h1>Quiet Places</h1>
<div id="action-group">
  <div id="action-new-place">
    <a href="#" id="new-place">New Quiet Place</a>
  </div>
  <div id="action-add-place" style="display: none;">
    <%= link_to 'OK', new_place_path, id: "add-place" %>
    <a href="#" id="cancel">Cancel</a>
  </div>
</div>
<div id="map-container"></div>
